body {
    background: #9af;
    position: relative;
    /* z-index: 50; */
}

#screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    left: 0;
    top: 0;
    background: rgba(181, 126, 75, 0);
}

.btn {
    position: absolute;
    /* z-index: 60; */
    width: 100px;
    height: 60px;
    background: rgb(181, 126, 75);
}

#btn1 {
    left: 100px;
    top: 100px;
}
